* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: rgba(255, 255, 255, 0.7);

    .container {
        max-width: 1300px;
        padding: 0px 25px ;
        margin: auto;

    .navbar {
        display: flex;
        align-items: center;
        padding: 25px;
        justify-content: flex-end;
        gap: 20px;

        a {
            text-decoration: none;
            color: #555;
            transition: color 0.3s ease-in-out;

        
        }
        a:hover {
            color: black;
        }
        }
    }
    .headercontent {
        display: flex;
        align-items: center;
        margin-top: 70px;

        .headercontentitem {
            flex: 1;
            h1 {
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0px;
            }
            p {
                color: #555;
            }
            img {
                width: 100%;
                padding: 50px 0px;
            }
        }
    }
}

.categories {
    margin: 70px 0px;

    .container {
        margin: auto;
        max-width: 1080px;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;   
        justify-content: space-around; 

        img {
            flex-basis: 30%;
            min-width: 250px;
            
        }
    }
}


.feature-products {
    margin: auto;
        max-width: 1080px;
        padding: 0px 25px;
        display: flex;
        flex-direction: column;
        

        h2 {
            color: #555;
            line-height: 60px;
            
            text-align: center;

            
            
        }
        .customunderlinecontainer {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            line-height: 60px;
            margin-bottom: 80px; 

            .customunderline{
                width: 80px;
                height: 5px;
                background-color: #ff523b;
                border-radius: 5px;
            }
                
            }
            .product-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                .products-cart {
                    display: flex;
                    flex-direction: column;
                    min-width: 200px;
                    padding: 10px;
                    margin-bottom: 50px;
                    flex-basis: calc(25% - 20px); 
                    margin-bottom: 50px;
                    cursor: pointer;
                    transition: transform 0.3s ease-in-out;
                    
                    .product-title {
                        color: #555;

                    
                    }
                    .product-pricing {
                            color: #555; 
                            font-size: 14px;
                        }
                        
                 }
                 
                }
                .products-cart:hover {
                            transform: translateY(-5px);
                        }
            }

 



.smart-watch-banner {
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 0px;
    
    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        justify-content: space-around;
        align-items: center;

        .smart-watch-image-container{
            flex: 1;
            img {
                width: 100%;
                padding: 50px;
            }

        }
        .smart-watch-banner-content {
            flex: 1;

            .smart-watch-banner-title {
                color: #555;
            }
            .smart-watch-banner-subtitle {
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0px;
            }
            .smart-watch-banner-description {
                font-size: 14px;
                color: #555;
            }
            .buy-now-button {
                background-color: #ff523b;
                color: #fff;
                padding: 8px 30px;
                margin: 30px 0px;
                border-radius: 30px;
                border: none;
                cursor: pointer;
               
            }
            .buy-now-button:hover {
                background-color: #563434;
            }
            }

        }
    }
  
.testimonialparentcontainer {
    padding-top: 100px;
    

    .testimonialinnercontainer {
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .testimonialcards {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            padding: 40px 20px 40px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
            min-width: 250px;
            min-height: 302px;
            margin-bottom: 30px;
            flex-basis: 20%;

            .testimonialcontenttext{
                font-size: 12px;
                margin: 12px 0px;
                color: #777;

                
                
                }
                .ratings{
                    padding-top: 20px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    
                }
                .user1 {
                    width: 50px;
                    margin-top: 20px;
                    border-radius: 50%;

                    
                }
                .h3 {
                        font-weight: 600;
                        color: #555;
                        font-size: 16px;
                    }
            }
            .testimonialcards:hover {
                transform: translateY(-10px);
            }


        }
    }
    .brandingcontainer {
        margin: 100px auto;

        .brandinginndercontainer {
            display: flex;
            justify-content: space-around;
            max-width: 1080px;
            padding: 0px 25px;
            margin: auto;
            

        }
         img {
            cursor: pointer;
            filter: grayscale(100%);
            transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
          
         }
         img:hover {
            filter: grayscale(0%);
            
        }
    }
.footer {
    background: #222831;
    color: #eeeeee;
    font-size: 14px;
    padding: 60px 0 20px;

    .footerinnercontainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        margin: auto;
        padding: 0px 25px;

        .footercolumn {
            min-width: 250px;
            margin-bottom: 20px;
            display: flex ;
            flex-direction: column;   
        }
        .footercolumn1 {
            flex-basis: 30%;
            h3 {
                color: #ff523b;
                margin-bottom: 20px;
                font-weight: 500;
            }
            p {
               color:  #eeeeee;
            }
            .footerstorecontainer {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 20px;

                img {
                    width: 140px;
                    margin: 5px 0px;
                    cursor: pointer;
                }
            }
        }
        .footercolumn2 {
            flex: 1;
            align-items: center;
            h3 {
                color: #ff523b;
                margin-bottom: 20px;
                font-weight: 500;
            }
            p {
               color:  #eeeeee;
               margin-bottom: 10px;
               cursor: pointer;
               transition: color 0.3s ease-in-out;
            }
            p:hover {
                color: #ff523b;
            }
            
        }
        .footercolumn3 {
            flex-basis: 12%;
            align-items: center;
            h3 {
                color: #ff523b;
                margin-bottom: 20px;
                font-weight: 500;
            }
            p {
               color:  #eeeeee;
               margin-bottom: 10px;
               cursor: pointer;
               transition: color 0.3s ease-in-out;
            }
            p:hover {
                color: #ff523b;
            }
        }
    }
}

.allproducts {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    padding: 0px 25px;
    margin: auto; 
    
    .allproductslabel {
        display: flex;
        justify-content: space-between;
        align-items: center;
       margin: 100px 0px 50px;

        select {
            border: 1px solid #ff523b;
            padding: 5px;
            outline: none;

        }
    }
    

}
.paginationbuttoncontainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 225px;
    margin-bottom: 50px;
    
    

    .paginationbutton {
        display: inline-block;
        border: 1px solid #ff523b;
        width: 40px;
        height: 40px;
        text-align: center;
        
        line-height: 40px;
        cursor: pointer;
        transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
    }
    .paginationbutton:hover {
        background-color: #ff523b;
        color: #fff;
    }
      
}

.product-details-container {
    margin-top: 80px;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    .product-details-content {
        flex-basis: calc(50% - 50px);
        padding: 20px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }
    .product-details-img-content {
        gap: 4px;
        .product-details-big-img{
            width: 100%;
        }
        .product-small-img-container-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .product-small-img-container {
            flex-basis: 24%;
            img {
                width: 100%;
            }
        }
    }
    .product-details-text-content {
        p {
            color: #555;
        }
        h1 {
            font-size: 50px;
            line-height: 60px;
            margin: 25px 0px;

        }
        h4 {
            margin: 20px 0px;
            font-size: 22px;
            font-weight: bold;
            color: #555;
        }
        select {
            display: block;
            padding: 10px;
            margin-top: 20px;
            border: 1px solid red;
            outline: none;
            width: fit-content;
        }
        .addtocartbuttonwrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                height: 40px;
                padding-left: 10px;
                font-size: 20px;
                margin-right: 10px;
                border: 1px solid red;
                outline: none;
                width: 50px;
            }
            .addtocartbutton {
                display: inline-block;
                background: #ff523b;
                color: #fff;
                padding: 8px 30px;
                margin: 30px 0;
                border-radius: 30px;
                transition: background 0.5s;
                cursor: pointer;
            }
            .addtocartbutton:hover {
                background: #563434;
            }
        }
    }
}
.cartsSectionWrapper {
    margin: 80px auto;
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
   
   
    table {
        width: 100%;
         border-collapse: collapse;
        
        th {
            text-align: left;
            padding: 5px;
            color: #fff;
            background: #ff523b;
            font-weight: normal;
        
        }
        th:last-child {
                text-align: right;
            }
            td {
                padding: 10px 5px;
                .cartinfo {
                    display: flex;
                    flex-wrap: wrap;

                    img {
                        width: 80px;
                        height: 80px;
                        margin-right: 10px;
                    }
                    .cartinfodetails {
                        display: flex;
                        flex-direction: column;

                        p {
                            color: #555
                            ;
                        }
                        small {
                            color: #555;
                        }
                        a {
                            color: #ff523b;
                            font-size: 12px;
                            text-decoration: none;
                            margin-top: 4px;
                        }
                       
                    }
                }
                input {
                    width: 40px;
                    padding: 5px;
                    outline: none;

                }
                
            }
            td:last-child {
                    text-align: right;
                }
    }
}
.totalprice {
    display: flex;
    justify-content: flex-end;
    table {
        border-top: solid 3px #ff523b;
        max-width: 350px;
    }
    .checkoutbtn {
        display: inline-block;
        background: #ff523b;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
        cursor: pointer;

    }
    .checkoutbtn:hover {
        background: #563434;
    }
}